/* Add these styles to your NewsItem.css file */

.NewsItemContainer {
    margin: 20px;
    width: 100%;
  }
  
  .NewsItemContainer img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .NewsItemContainer div {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .NewsItemContainer h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .NewsItemContainer p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .NewsItemContainer a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .NewsItemContainer a:hover {
    text-decoration: underline;
  }
  